{% load static %}
{% if master == 'college_list'%}
<div id="college" draggable="false">
                                      
    <div class="row"><div class="col-md-12 pt-2 pb-0"><h6>College</h6></div></div>
    
    <ul class="documentsec">
      {% for oganization in all_institution %}
        <li>
        <div class="collegesec" id="college{{oganization.id}}" onclick="getMasterData('{{ oganization.id }}', '{{oganization.organization_name}}', 'room_list', '{{oganization.id}}',)"><img src="/static/img/svg/college.svg"><div class="titletext">{{oganization.organization_name}}</div> </div>
        
        </li> 
        {% endfor %}
       
    </ul>
    </div>
{% elif master == 'room_list'%}
<div id="college" draggable="false">
                                        
    <div class="row"><div class="col-md-12 pt-2 pb-0"><h6>College</h6></div></div>
    
    <ul class="documentsec">
        {% for oganization in all_institution %}
        <li>
        <div class="collegesec" id="college{{oganization.id}}" onclick="getMasterData('{{ oganization.id }}', '{{oganization.organization_name}}', 'room_list', '{{oganization.id}}',)"><img src="/static/img/svg/college.svg"><div class="titletext">{{oganization.organization_name}}</div> </div>
        
        </li> 
        {% endfor %}
        
    </ul>
    </div>    
{% elif master == 'room' %}
<div id="rooms" draggable="false">
<div class="row"><div class="col-md-12 pt-2 pb-0"><h6>Rooms</h6></div></div>
                                                                
<ul class="documentsec">
{% for room in rooms %}
<li>
<div class="Foldersec" id="rom{{ room.id }}"  onclick="getMasterData('{{ room.id }}', '{{room.room}}', 'room', '{{college_id}}')"><img src="/static/img/png/rooms.png"><div class="doctitle">{{ room.room }}</div> </div>

</li> 
{% endfor %}
</ul>
</div>
{% elif master == 'almira' %}
<div id="almiras">
<div class="row"><div class="col-md-12 pt-2 pb-0"><h6>Almira</h6></div></div>
                                                                
<ul class="documentsec">
{% for almira in almiras %}
<li>
<div class="Foldersec" id="alm{{ almira.id }}" onclick="getMasterData('{{ almira.id }}', '{{almira.almirah}}', 'almira', '{{college_id}}')"><img src="/static/img/png/Almirah.png"><div class="doctitle">{{ almira.almirah }}</div> </div>

</li> 
{% endfor %}
</ul>
</div>
{% elif master == 'rack' %}
<div id="racks">
<div class="row"><div class="col-md-12 pt-2 pb-0"><h6>Racks</h6></div></div>
                                                                
<ul class="documentsec">
{% for rack in racks %}
<li>
<div class="Foldersec" id="alm{{ rack.id }}" onclick="getMasterData('{{ rack.id }}', '{{rack.rack}}', 'rack', '{{college_id}}')"><img src="/static/img/png/Rack.png"><div class="doctitle">{{ rack.rack }}</div> </div>

</li> 
{% endfor %}
</ul>
</div>
{% elif master == 'file' %}
<div id="newfolder">
    <div class="row"><div class="col-md-6 pt-2 pb-0"><h6>Files</h6></div>
    </div>
                                                              
    <ul class="documentsec">
    {% for file in files %}
      <li>
        <div class="Foldersec" id="fol{{ file.id }}" onclick="getMasterData('{{ file.id }}', '{{file.file_name}}', 'file', '{{college_id}}')"><img src="/static/img/png/folder.png"><div class="doctitle">{{file.file_name}}</div> </div>
      </li> 
    {% endfor %}
      
    </ul>
</div>
{% elif master == 'folder_files' %}

<div id="getfiles"  >
    <input type="hidden" id="id" value="{{file_id}}">  
    <input type="hidden" id="type" value="file">  
    <input type="hidden" id="college_id" value="{{college_id}}">  
    <input type="hidden" id="college_name" value="{{oganization.organization_name}}"> 
    <input type="hidden" id="master_name" value="{{file_name}}">  
    <input type="hidden" id="room_id" value="{{room_id}}">  
    <input type="hidden" id="room_name" value="{{room_name}}">  
    <input type="hidden" id="almira_id" value="{{almira_id}}">
    <input type="hidden" id="almira_name" value="{{almira_name}}">
    <input type="hidden" id="rack_id" value="{{rack_id}}">
    <input type="hidden" id="rack_name" value="{{rack_name}}">                                                                         
  <!-- <div class="row"><div class="col-md-6 pt-2 pb-0">  <img src="/static/img/png/folder.png" style="width: 22px;"> <span class="pl-1" id="foldername"></span></div></div> -->

  <ul class="documentsec drsec ui-sortable" id="sortable2">
    {% for file in folder_files %}
      <li id="doc{{ file.id }}" >
        
        <div class="Filesec" ><a href="{{file.document_path}}" target="_blank"><div class="Viewicon"></div></a> <img src="/static/img/png/pdf.png" onclick="getDocumentDetails('{{ file.id }}','{{file.college_id}}')"><div class="doctitle" onclick="getDocumentDetails('{{ file.id }}','{{file.college_id}}')">{{file.document_name}}</div> </div>
      
      </li> 
    {% endfor %}
     
  </ul>
  
  </div>
{% endif %}

<script>
    
    {% if master == 'room' %}
        var html = `<a href="javascript:void(0)" onclick="getMasterData('{{college_id}}', '{{college_name}}', 'college_list', '{{college_id}}')">{{college_name}}</a>`;
    {% elif master == 'almira' %}
        var html = `<a href="javascript:void(0)" onclick="getMasterData('{{college_id}}', '{{college_name}}', 'college_list', '{{college_id}}')">{{college_name}}</a>`;
        html += ` / <a href="javascript:void(0)" onclick="getMasterData('', '', 'room_list', '{{college_id}}')">{{master_name}}</a>`;
    {% elif master == 'rack' %}
        var html = `<a href="javascript:void(0)" onclick="getMasterData('{{college_id}}', '{{college_name}}', 'college_list', '{{college_id}}')">{{college_name}}</a>`;
        html += ` / <a href="javascript:void(0)" onclick="getMasterData('', '', 'room_list', '{{college_id}}')">{{master_name}}</a>`;
        html += ` / <a href="javascript:void(0)" onclick="getMasterData('{{room_id}}', '{{room_name}}', 'room', '{{college_id}}')">{{almira_name}}</a>`;
    {% elif master == 'file' %}
        var html = `<a href="javascript:void(0)" onclick="getMasterData('{{college_id}}', '{{college_name}}', 'college_list', '{{college_id}}')">{{college_name}}</a>`;
        html += ` / <a href="javascript:void(0)" onclick="getMasterData('', '', 'room_list', '{{college_id}}')">{{room_name}}</a>`;
        html += ` / <a href="javascript:void(0)" onclick="getMasterData('{{room_id}}', '{{room_name}}', 'room', '{{college_id}}')">{{almira_name}}</a>`;
        html += ` / <a href="javascript:void(0)" onclick="getMasterData('{{almira_id}}', '{{almira_name}}', 'almira', '{{college_id}}')">{{rack_name}}</a>`;    
    {% elif master == 'folder_files' %}
        var html = `<a href="javascript:void(0)" onclick="getMasterData('{{college_id}}', '{{college_name}}', 'college_list', '{{college_id}}')">{{college_name}}</a>`;
        html += ` / <a href="javascript:void(0)" onclick="getMasterData('', '', 'room_list', '{{college_id}}')">{{room_name}}</a>`;
        html += ` / <a href="javascript:void(0)" onclick="getMasterData('{{room_id}}', '{{room_name}}', 'room', '{{college_id}}')">{{almira_name}}</a>`;
        html += ` / <a href="javascript:void(0)" onclick="getMasterData('{{almira_id}}', '{{almira_name}}', 'almira', '{{college_id}}')">{{rack_name}}</a>`;
        html += ` / <a href="javascript:void(0)" onclick="getMasterData('{{rack_id}}', '{{rack_name}}', 'rack', '{{college_id}}')">{{file_name}}</a>`;    
    {% elif master == 'college_list' %}
        var html = `Address`;
    {% endif %}
    $('#address_div').html(html);  
</script>

<script>
  
  
  /*get document details*/
  function getDocumentDetails(id,college_id){
     
    $.ajax({
        url: "{% url 'src:get-documents-details' %}",
        method: 'POST',
        data: {id:id, college_id:college_id, csrfmiddlewaretoken: '{{ csrf_token }}'},
        success: function (data) {
            $('.docsec').fadeIn(200);
            $('#detailsdoc').html(data);
        },
        error: function (err) {
            console.log(err)
        }
    });
  }
</script>